/* HOT COLLECTIONS CAROUSEL */

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: rgba(241, 241, 241, 0.6);
  color: rgb(70, 70, 70);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgb(201, 201, 201);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: 0.2s ease;
}

.custom-arrow:hover {
  background: rgba(222, 222, 222, 0.85);
}

.slick-prev.custom-arrow {
  left: -20px;
}

.slick-next.custom-arrow {
  right: -20px;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

/* HOT COLLECTIONS SKELETON STATE */

.fa {
  padding-left: 42px;
  padding-top: 35px;
}

.slick-slider, 
.slick-initialized {
  gap: 10px;
}

.nft_coll--skeleton {
    padding: 10px 20px 20px;
    position: relative; 
    overflow: hidden; 
    background: #e2e2e2; 
    border-radius: 8px;
}

.nft_coll--skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  height: 100%;
  width: 150%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}

.nft_wrap--skeleton {
  width: 100%;
  height: 200px;
  background: #d6d6d6;
  border-radius: 8px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}

.nft_coll_pp--skeleton {
  width: 60px;
  height: 60px;
  background: #d6d6d6;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.nft_coll_info--skeleton { 
  margin-top: 15px; 
  text-align: center; 
}

.span--skeleton { 
  width: 70%; 
  height: 16px; 
  background: #d6d6d6; 
  border-radius: 4px; 
  margin: 10px auto 0;
  position: relative; 
  overflow: hidden; 
}

/* TOP SELLERS SKELETON STATE */

.author_list--skeleton {
  list-style-type: decimal;
  color: lightgray;
  padding-left: 20px;

}

.author_list_item--skeleton { 
 display: flex; 
 align-items: center; 
 gap: 12px; 
 margin-bottom: 12px;
}

.author_list_pp--skeleton, 
.author_list_info--skeleton { 
  background: #e2e2e2; 
  position: relative; 
  overflow: hidden; 
}

.author_list_pp--skeleton { 
  width: 70px; 
  height: 40px; 
  border-radius: 50%; 
}

.author_list_info--skeleton { 
  width: 120px; 
  height: 14px; 
  border-radius: 4px; 
}

.author_list_pp--skeleton::after, 
.author_list_info--skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  height: 100%;
  width: 150%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}
