.skeleton__shimmer--wrapper {
    padding: 10px 20px 20px;
    position: relative; 
    overflow: hidden; 
    background: #e2e2e2; 
    border-radius: 8px;
}

.skeleton__shimmer--wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  height: 100%;
  width: 150%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}